@model IEnumerable<MVCBridge.Models.MVCProductModel>

@{
    ViewBag.Title = "Index";
}

<br />

    @*@Html.ActionLink("Create New","AddorEdit", "Product")*@
    <a href="@Url.Action("AddorEdit" ,"Product")" class="btn btn-default" ><i class="fa fa-plus"></i> Create New</a>

<table class="table table-striped">
    <thead class="thead-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            <a href="@Url.Action("AddorEdit", "Product", new  { id=item.ID})" class="btn btn-default"><i class="fas fa-pencil-alt"></i>Edit</a> 
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            <a  onclick="Delete(@item.ID)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>

        </td>
    </tr>
}

</table>
<script type="text/javascript">

    function Delete(ID) {
       // alert("Are you sure to delete this record");
        debugger;
        window.location.href = '@Url.Action("Delete","Product")/' + ID;

    }
</script>
